# Compilados Java
/bin/
/out/
/build/

# Bibliotecas externas
/lib/

# Arquivos temporários do sistema
*.class
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Configurações do VS Code
.vscode/

# Arquivos do sistema operacional
*.~*